.addPostButton {
    position: fixed;
    left: 1em;
    bottom: 6em;
    padding: 1em;
    background-color: rgba(31, 210, 0, 0.8);
    border: none;
    border-radius: 1em;
    box-shadow: 1px 1px 10px #1fd200;
}

.addPostButton > img {
    width: 2em;
}
