:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 1em;
    width: 100%;
    height: 100%;

    --green-color: #1fd200;
    --dark-grey-color: #212121;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #fff;
}

#root {
    width: 100%;
    height: 100%;
}
