.settingsPage {
    padding-top: 1em;
    padding-bottom: 6em;

    div {
        width: 80%;
        margin: 0 auto;
        background-color: var(--dark-grey-color);
        padding: 1em 1.5em;
        text-align: center;
        border-radius: 1em;
        box-shadow: 1px 1px 10px var(--green-color);
    }

    div + div {
        margin-top: 1em;
    }
}