.settingsPage {
    padding-top: 1em;
    padding-bottom: 6em;
}

.settingsPage > div {
    width: 80%;
    margin: 0 auto;
    background-color: #212121;
    padding: 1em 1.5em;
    text-align: center;
    border-radius: 1em;
    box-shadow: 1px 1px 10px #1fd200;
}

.settingsPage > div + div {
    margin-top: 1em;
}
